#producer.pane
  .row
    .small-6.text-left.columns
      %h2
        = t :producer_pane_headline
      %p
        = t :producer_pane_body
    .small-6.text-left.columns
      %div.bullet
        %img{src: "", width: "220"}
        = t :producer_pane_bullet1
      %div.bullet
        %img{src: "", width: "220"}
        = t :producer_pane_bullet2
      %div.bullet
        %img{src: "", width: "220"}
        = t :producer_pane_bullet3
    .small-12.text-left.columns